/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$app_globeleza_name = 'app-globeleza';
$app_globeleza_x = 200px;
$app_globeleza_y = 0px;
$app_globeleza_offset_x = -200px;
$app_globeleza_offset_y = 0px;
$app_globeleza_width = 200px;
$app_globeleza_height = 200px;
$app_globeleza_total_width = 906px;
$app_globeleza_total_height = 873px;
$app_globeleza_image = '../images/sprite_general.png';
$app_globeleza = 200px 0px -200px 0px 200px 200px 906px 873px '../images/sprite_general.png' 'app-globeleza';
$axe_throneoflove_name = 'axe-throneoflove';
$axe_throneoflove_x = 600px;
$axe_throneoflove_y = 400px;
$axe_throneoflove_offset_x = -600px;
$axe_throneoflove_offset_y = -400px;
$axe_throneoflove_width = 200px;
$axe_throneoflove_height = 200px;
$axe_throneoflove_total_width = 906px;
$axe_throneoflove_total_height = 873px;
$axe_throneoflove_image = '../images/sprite_general.png';
$axe_throneoflove = 600px 400px -600px -400px 200px 200px 906px 873px '../images/sprite_general.png' 'axe-throneoflove';
$axe_name = 'axe';
$axe_x = 661px;
$axe_y = 748px;
$axe_offset_x = -661px;
$axe_offset_y = -748px;
$axe_width = 149px;
$axe_height = 36px;
$axe_total_width = 906px;
$axe_total_height = 873px;
$axe_image = '../images/sprite_general.png';
$axe = 661px 748px -661px -748px 149px 36px 906px 873px '../images/sprite_general.png' 'axe';
$cheetos_kungfu_name = 'cheetos-kungfu';
$cheetos_kungfu_x = 0px;
$cheetos_kungfu_y = 200px;
$cheetos_kungfu_offset_x = 0px;
$cheetos_kungfu_offset_y = -200px;
$cheetos_kungfu_width = 200px;
$cheetos_kungfu_height = 200px;
$cheetos_kungfu_total_width = 906px;
$cheetos_kungfu_total_height = 873px;
$cheetos_kungfu_image = '../images/sprite_general.png';
$cheetos_kungfu = 0px 200px 0px -200px 200px 200px 906px 873px '../images/sprite_general.png' 'cheetos-kungfu';
$cheetos_name = 'cheetos';
$cheetos_x = 623px;
$cheetos_y = 600px;
$cheetos_offset_x = -623px;
$cheetos_offset_y = -600px;
$cheetos_width = 168px;
$cheetos_height = 97px;
$cheetos_total_width = 906px;
$cheetos_total_height = 873px;
$cheetos_image = '../images/sprite_general.png';
$cheetos = 623px 600px -623px -600px 168px 97px 906px 873px '../images/sprite_general.png' 'cheetos';
$close_name = 'close';
$close_x = 875px;
$close_y = 143px;
$close_offset_x = -875px;
$close_offset_y = -143px;
$close_width = 31px;
$close_height = 33px;
$close_total_width = 906px;
$close_total_height = 873px;
$close_image = '../images/sprite_general.png';
$close = 875px 143px -875px -143px 31px 33px 906px 873px '../images/sprite_general.png' 'close';
$corabell_name = 'corabell';
$corabell_x = 400px;
$corabell_y = 200px;
$corabell_offset_x = -400px;
$corabell_offset_y = -200px;
$corabell_width = 200px;
$corabell_height = 200px;
$corabell_total_width = 906px;
$corabell_total_height = 873px;
$corabell_image = '../images/sprite_general.png';
$corabell = 400px 200px -400px -200px 200px 200px 906px 873px '../images/sprite_general.png' 'corabell';
$dark_light_name = 'dark-light';
$dark_light_x = 0px;
$dark_light_y = 0px;
$dark_light_offset_x = 0px;
$dark_light_offset_y = 0px;
$dark_light_width = 200px;
$dark_light_height = 200px;
$dark_light_total_width = 906px;
$dark_light_total_height = 873px;
$dark_light_image = '../images/sprite_general.png';
$dark_light = 0px 0px 0px 0px 200px 200px 906px 873px '../images/sprite_general.png' 'dark-light';
$fiat_bravorama_name = 'fiat-bravorama';
$fiat_bravorama_x = 200px;
$fiat_bravorama_y = 400px;
$fiat_bravorama_offset_x = -200px;
$fiat_bravorama_offset_y = -400px;
$fiat_bravorama_width = 200px;
$fiat_bravorama_height = 200px;
$fiat_bravorama_total_width = 906px;
$fiat_bravorama_total_height = 873px;
$fiat_bravorama_image = '../images/sprite_general.png';
$fiat_bravorama = 200px 400px -200px -400px 200px 200px 906px 873px '../images/sprite_general.png' 'fiat-bravorama';
$fiat_name = 'fiat';
$fiat_x = 0px;
$fiat_y = 600px;
$fiat_offset_x = 0px;
$fiat_offset_y = -600px;
$fiat_width = 150px;
$fiat_height = 148px;
$fiat_total_width = 906px;
$fiat_total_height = 873px;
$fiat_image = '../images/sprite_general.png';
$fiat = 0px 600px 0px -600px 150px 148px 906px 873px '../images/sprite_general.png' 'fiat';
$fundacao_lemann_name = 'fundacao-lemann';
$fundacao_lemann_x = 800px;
$fundacao_lemann_y = 0px;
$fundacao_lemann_offset_x = -800px;
$fundacao_lemann_offset_y = 0px;
$fundacao_lemann_width = 106px;
$fundacao_lemann_height = 143px;
$fundacao_lemann_total_width = 906px;
$fundacao_lemann_total_height = 873px;
$fundacao_lemann_image = '../images/sprite_general.png';
$fundacao_lemann = 800px 0px -800px 0px 106px 143px 906px 873px '../images/sprite_general.png' 'fundacao-lemann';
$fundacaolemann_masterbrand_name = 'fundacaolemann-masterbrand';
$fundacaolemann_masterbrand_x = 600px;
$fundacaolemann_masterbrand_y = 200px;
$fundacaolemann_masterbrand_offset_x = -600px;
$fundacaolemann_masterbrand_offset_y = -200px;
$fundacaolemann_masterbrand_width = 200px;
$fundacaolemann_masterbrand_height = 200px;
$fundacaolemann_masterbrand_total_width = 906px;
$fundacaolemann_masterbrand_total_height = 873px;
$fundacaolemann_masterbrand_image = '../images/sprite_general.png';
$fundacaolemann_masterbrand = 600px 200px -600px -200px 200px 200px 906px 873px '../images/sprite_general.png' 'fundacaolemann-masterbrand';
$generator_modern_frontend_name = 'generator-modern-frontend';
$generator_modern_frontend_x = 800px;
$generator_modern_frontend_y = 143px;
$generator_modern_frontend_offset_x = -800px;
$generator_modern_frontend_offset_y = -143px;
$generator_modern_frontend_width = 75px;
$generator_modern_frontend_height = 80px;
$generator_modern_frontend_total_width = 906px;
$generator_modern_frontend_total_height = 873px;
$generator_modern_frontend_image = '../images/sprite_general.png';
$generator_modern_frontend = 800px 143px -800px -143px 75px 80px 906px 873px '../images/sprite_general.png' 'generator-modern-frontend';
$global_game_jam_name = 'global-game-jam';
$global_game_jam_x = 168px;
$global_game_jam_y = 748px;
$global_game_jam_offset_x = -168px;
$global_game_jam_offset_y = -748px;
$global_game_jam_width = 160px;
$global_game_jam_height = 60px;
$global_game_jam_total_width = 906px;
$global_game_jam_total_height = 873px;
$global_game_jam_image = '../images/sprite_general.png';
$global_game_jam = 168px 748px -168px -748px 160px 60px 906px 873px '../images/sprite_general.png' 'global-game-jam';
$globo_name = 'globo';
$globo_x = 309px;
$globo_y = 600px;
$globo_offset_x = -309px;
$globo_offset_y = -600px;
$globo_width = 154px;
$globo_height = 130px;
$globo_total_width = 906px;
$globo_total_height = 873px;
$globo_image = '../images/sprite_general.png';
$globo = 309px 600px -309px -600px 154px 130px 906px 873px '../images/sprite_general.png' 'globo';
$google_wcdashboard_name = 'google-wcdashboard';
$google_wcdashboard_x = 400px;
$google_wcdashboard_y = 400px;
$google_wcdashboard_offset_x = -400px;
$google_wcdashboard_offset_y = -400px;
$google_wcdashboard_width = 200px;
$google_wcdashboard_height = 200px;
$google_wcdashboard_total_width = 906px;
$google_wcdashboard_total_height = 873px;
$google_wcdashboard_image = '../images/sprite_general.png';
$google_wcdashboard = 400px 400px -400px -400px 200px 200px 906px 873px '../images/sprite_general.png' 'google-wcdashboard';
$google_name = 'google';
$google_x = 328px;
$google_y = 748px;
$google_offset_x = -328px;
$google_offset_y = -748px;
$google_width = 164px;
$google_height = 56px;
$google_total_width = 906px;
$google_total_height = 873px;
$google_image = '../images/sprite_general.png';
$google = 328px 748px -328px -748px 164px 56px 906px 873px '../images/sprite_general.png' 'google';
$hellmanns_gwu_name = 'hellmanns-gwu';
$hellmanns_gwu_x = 600px;
$hellmanns_gwu_y = 0px;
$hellmanns_gwu_offset_x = -600px;
$hellmanns_gwu_offset_y = 0px;
$hellmanns_gwu_width = 200px;
$hellmanns_gwu_height = 200px;
$hellmanns_gwu_total_width = 906px;
$hellmanns_gwu_total_height = 873px;
$hellmanns_gwu_image = '../images/sprite_general.png';
$hellmanns_gwu = 600px 0px -600px 0px 200px 200px 906px 873px '../images/sprite_general.png' 'hellmanns-gwu';
$hellmanns_name = 'hellmanns';
$hellmanns_x = 0px;
$hellmanns_y = 748px;
$hellmanns_offset_x = 0px;
$hellmanns_offset_y = -748px;
$hellmanns_width = 168px;
$hellmanns_height = 70px;
$hellmanns_total_width = 906px;
$hellmanns_total_height = 873px;
$hellmanns_image = '../images/sprite_general.png';
$hellmanns = 0px 748px 0px -748px 168px 70px 906px 873px '../images/sprite_general.png' 'hellmanns';
$hook_name = 'hook';
$hook_x = 800px;
$hook_y = 298px;
$hook_offset_x = -800px;
$hook_offset_y = -298px;
$hook_width = 42px;
$hook_height = 80px;
$hook_total_width = 906px;
$hook_total_height = 873px;
$hook_image = '../images/sprite_general.png';
$hook = 800px 298px -800px -298px 42px 80px 906px 873px '../images/sprite_general.png' 'hook';
$joyjs_name = 'joyjs';
$joyjs_x = 800px;
$joyjs_y = 223px;
$joyjs_offset_x = -800px;
$joyjs_offset_y = -223px;
$joyjs_width = 67px;
$joyjs_height = 75px;
$joyjs_total_width = 906px;
$joyjs_total_height = 873px;
$joyjs_image = '../images/sprite_general.png';
$joyjs = 800px 223px -800px -223px 67px 75px 906px 873px '../images/sprite_general.png' 'joyjs';
$js2php_name = 'js2php';
$js2php_x = 0px;
$js2php_y = 818px;
$js2php_offset_x = 0px;
$js2php_offset_y = -818px;
$js2php_width = 136px;
$js2php_height = 55px;
$js2php_total_width = 906px;
$js2php_total_height = 873px;
$js2php_image = '../images/sprite_general.png';
$js2php = 0px 818px 0px -818px 136px 55px 906px 873px '../images/sprite_general.png' 'js2php';
$ludum_dare_32_name = 'ludum-dare-32';
$ludum_dare_32_x = 492px;
$ludum_dare_32_y = 748px;
$ludum_dare_32_offset_x = -492px;
$ludum_dare_32_offset_y = -748px;
$ludum_dare_32_width = 169px;
$ludum_dare_32_height = 47px;
$ludum_dare_32_total_width = 906px;
$ludum_dare_32_total_height = 873px;
$ludum_dare_32_image = '../images/sprite_general.png';
$ludum_dare_32 = 492px 748px -492px -748px 169px 47px 906px 873px '../images/sprite_general.png' 'ludum-dare-32';
$nimble_forge_name = 'nimble-forge';
$nimble_forge_x = 400px;
$nimble_forge_y = 0px;
$nimble_forge_offset_x = -400px;
$nimble_forge_offset_y = 0px;
$nimble_forge_width = 200px;
$nimble_forge_height = 200px;
$nimble_forge_total_width = 906px;
$nimble_forge_total_height = 873px;
$nimble_forge_image = '../images/sprite_general.png';
$nimble_forge = 400px 0px -400px 0px 200px 200px 906px 873px '../images/sprite_general.png' 'nimble-forge';
$redbull_hino_name = 'redbull-hino';
$redbull_hino_x = 200px;
$redbull_hino_y = 200px;
$redbull_hino_offset_x = -200px;
$redbull_hino_offset_y = -200px;
$redbull_hino_width = 200px;
$redbull_hino_height = 200px;
$redbull_hino_total_width = 906px;
$redbull_hino_total_height = 873px;
$redbull_hino_image = '../images/sprite_general.png';
$redbull_hino = 200px 200px -200px -200px 200px 200px 906px 873px '../images/sprite_general.png' 'redbull-hino';
$redbull_name = 'redbull';
$redbull_x = 463px;
$redbull_y = 600px;
$redbull_offset_x = -463px;
$redbull_offset_y = -600px;
$redbull_width = 160px;
$redbull_height = 108px;
$redbull_total_width = 906px;
$redbull_total_height = 873px;
$redbull_image = '../images/sprite_general.png';
$redbull = 463px 600px -463px -600px 160px 108px 906px 873px '../images/sprite_general.png' 'redbull';
$rufus_name = 'rufus';
$rufus_x = 0px;
$rufus_y = 400px;
$rufus_offset_x = 0px;
$rufus_offset_y = -400px;
$rufus_width = 200px;
$rufus_height = 200px;
$rufus_total_width = 906px;
$rufus_total_height = 873px;
$rufus_image = '../images/sprite_general.png';
$rufus = 0px 400px 0px -400px 200px 200px 906px 873px '../images/sprite_general.png' 'rufus';
$spjam_name = 'spjam';
$spjam_x = 150px;
$spjam_y = 600px;
$spjam_offset_x = -150px;
$spjam_offset_y = -600px;
$spjam_width = 159px;
$spjam_height = 132px;
$spjam_total_width = 906px;
$spjam_total_height = 873px;
$spjam_image = '../images/sprite_general.png';
$spjam = 150px 600px -150px -600px 159px 132px 906px 873px '../images/sprite_general.png' 'spjam';
$spritesheet_width = 906px;
$spritesheet_height = 873px;
$spritesheet_image = '../images/sprite_general.png';
$spritesheet_sprites = $app_globeleza $axe_throneoflove $axe $cheetos_kungfu $cheetos $close $corabell $dark_light $fiat_bravorama $fiat $fundacao_lemann $fundacaolemann_masterbrand $generator_modern_frontend $global_game_jam $globo $google_wcdashboard $google $hellmanns_gwu $hellmanns $hook $joyjs $js2php $ludum_dare_32 $nimble_forge $redbull_hino $redbull $rufus $spjam;
$spritesheet = 906px 873px '../images/sprite_general.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
